.contact-container {
  padding: 50px 20px 0px 0px;
  width: 1024px;
  margin: auto;
  font-size: 18px;
  /* background-color: seagreen; */
}

.quote-button {
  text-align: center;
  background-color: #eb0143 !important;
  color: #f5f5f5 !important;
  margin: 0px 10px 30px 10px;
  padding: 10px;
}

.contact-container-m {
  padding: 50px 0px 0px 0px;
  margin: auto;
  /* background-color: seagreen; */
}

.contact-form {
  font-family: "Titillium Web", sans-serif;
  padding-bottom: 10px;
}

.contact-bottom {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.contact-send-btn {
  background-color: #00afef !important;
  color: #f5f5f5 !important;
}

.contact-field-title {
  font-weight: bold;
  font-size: 17px;
}

.contact-field {
  margin: 7px 0px !important;
  padding: 0px 10px !important;
  font-size: 15px;
}

.contact-details {
  padding: 10px 20px;
  margin: 10px 5px;
  background-color: #ededed;
  font-style: italic;
}

.contact-details-title {
  font-size: 25px;
  font-weight: bolder;
  text-transform: uppercase;
  margin: 15px 0px 10px 0px;
  /* color: #523de7; */
}

.contact-details-subtitle {
  font-size: 20px;
  font-weight: bolder;
  margin: 30px 10px 15px 10px;
}

.contact-details-item {
  margin: 10px;
  text-align: justify;
}

.contact-details-icon {
  margin-right: 15px;
  color: #02bbaa;
}

.contact-title {
  font-size: 17px;
  text-transform: uppercase;
  text-align: center;
}

.contact-subtitle {
  font-size: 25px;
  margin: 5px 5px 40px 5px;
  text-align: center;
  font-weight: bold;
}

.contact-note {
  padding: 0px 10px;
  margin: 70px 0px 20px 0px;
  text-align: justify;
  font-size: 15px;
  color: #6e6d6b;
}

.contact-showroom {
  margin: 0px 10px 30px 10px;
  border: 1px solid #ededed;
  display: flex;
  flex-wrap: wrap;
}

.contact-showroom.m {
  flex-direction: column;
}

.contact-showroom > .title {
  display: flex;
  align-items: center;

  background: #02bbaa;
  color: #fff;
}

.contact-showroom .icon {
  color: #02bbaa;
}

.contact-showroom > .title > .text {
  padding: 20px;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
}

.contact-showroom > .content {
  padding: 20px;
  align-items: center;
  font-size: 20px;

  display: grid;
  grid-template-rows: auto auto;
  gap: 10px;
}

.contact-showroom .address {
  /*  */
}

.contact-showroom .open-time {
  /*  */
}
