.h-header {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./images/nzwswe-1.jpe");

  /* Used if the image is unavailable */
  background-color: #cccccc;
  /* You must set a specified height */
  height: 350px;
  /* Center the image */
  background-position: center;
  /* Do not repeat the image */
  background-repeat: no-repeat;
  /* Resize the background image to cover the entire container*/
  background-size: cover;
  display: flex;
}

.h-header-text {
  margin: auto;
  text-align: center;
  color: #dddddd;
}

@media only screen and (min-width: 600px) {
  .h-header {
    height: 500px;
  }
}
