.c-title {
  text-align: center;
  font-size: 35px;
  margin: 30px 0px 0px 0px;
}

.c-subtitle {
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 20px;
}

.c-section-01 {
  background-color: #57585b;
  /* margin: 20px 0px; */
  padding: 50px 0px;
  color: #ffffff;
}

.c-s01-left {
  /* background-color: #57585b; */
}

.c-s01-right {
  /*  */
}

.c-s01-title {
  font-size: 30px;
  padding-bottom: 10px;
}

.c-s01-subtitle {
  padding: 5px 0px;
}
