.contact-bg {
  font-family: "Titillium Web", sans-serif;
  padding-bottom: 10px;
}

.contact-bottom {
  text-align: center;
}
.contact-send-btn {
  background-color: #00bbaa !important;
  color: #f5f5f5 !important;
}

/* .contact-label {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 0px !important;
} */

.contact-field {
  margin: 7px 0px !important;
  padding: 0px 25px !important;
}

.contact-details-bg-m {
  padding: 20px 0px;
  margin-bottom: 20px;
  background-color: #ededed;
}

.contact-details-title {
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 5px 30px 20px 30px;
  color: #523de7;
}

.contact-details-subtitle {
  font-size: 17px;
  margin: 5px 5px 5px 30px;
}
.contact-details-icon {
  margin-right: 5px;
  color: #523de7;
}

.contact-title {
  font-size: 17px;
  text-transform: uppercase;
  margin: 50px 0px 0px 0px;
  text-align: center;
}
.contact-subtitle {
  font-size: 25px;
  margin: 5px 5px 40px 5px;
  text-align: center;
  font-weight: bold;
}
