.com03 {
  margin-bottom: 80px;
}

.col-x {
  padding-bottom: 20px;
}

.details-title {
  padding: 80px 0px 20px 0px;
  font-size: 34px;
  text-transform: uppercase;
  font-weight: bold;
}

/* mobile */
.com03-image-thumb-m {
  height: 80vw;
  width: 100%;
  object-fit: cover;
  border: 1px solid #ededed;
}

/* tablet */
.com03-image-thumb-t {
  height: 40vw;
  width: 100%;
  object-fit: cover;
  border: 1px solid #ededed;
}

/* desktop */
.com03-image-thumb-d {
  height: 30vw;
  width: 100%;
  object-fit: cover;
  border: 1px solid #ededed;
}
