.n-logo1 {
  width: 100px;
  margin: 0px;
  padding: 0px;
}

.n-navbar {
  /* height: 70px; */
  background-color: #ffffff;
  border-bottom: 5px solid #ededed;
}

.n-item-none {
  font-weight: bold;
}
