.m-outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font: 20px Helvetica, sans-serif;
  color: #333;
}

.m-middle {
  display: table-cell;
  vertical-align: middle;
  padding: 15px;
}

.m-inner {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  /*whatever width you want*/
}

.m-h1 {
  font-size: 50px;
}

.m-a {
  color: #dc8100;
  text-decoration: none;
}
.m-a:hover {
  color: #333;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .m-h1 {
    font-size: 30px;
  }
  .m-outer {
    font: 12px Helvetica, sans-serif;
  }

  .m-inner {
    width: 100%;
    /*whatever width you want*/
  }
}
