.pro-bg {
  /* background-image: radial-gradient(circle, #ff886e 30%, #f37478 70%);
  background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%); */

  background: -webkit-linear-gradient(70deg, #fff810 30%, rgba(0, 0, 0, 0) 30%),
    -webkit-linear-gradient(30deg, #63e89e 60%, #ff7ee3 60%);
  background: -o-linear-gradient(70deg, #fff810 30%, rgba(0, 0, 0, 0) 30%),
    -o-linear-gradient(30deg, #63e89e 60%, #ff7ee3 60%);
  background: -moz-linear-gradient(70deg, #fff810 30%, rgba(0, 0, 0, 0) 30%),
    -moz-linear-gradient(30deg, #63e89e 60%, #ff7ee3 60%);
  background: linear-gradient(70deg, #fff810 30%, rgba(0, 0, 0, 0) 30%),
    linear-gradient(30deg, #63e89e 60%, #ff7ee3 60%);

  color: #fff;

  /* background-color: #7ee8fa; */
  /* background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%); */

  /* background: -webkit-linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%),
    -webkit-radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
  background: -o-linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%),
    -o-radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
  background: -moz-linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%),
    -moz-radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
  background: linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%),
    radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%); */

  text-align: center;
  position: relative;
  height: 150px;
  z-index: 900;
}

/* mobile */
.pro-out-m {
  display: flex;
  margin: 0px;
  height: 150px;
}

.pro-content-m {
  text-transform: uppercase;
  margin: auto;
}

.pro-01-line01-m {
  font-size: 17px;
  line-height: 100%;
  color: #fff;
  transform: rotate(10deg);
  text-align: left;
  text-shadow: 2px 2px 4px #000000;
}

.pro-01-line02-m {
  font-size: 37px;
  font-weight: bold;
  line-height: 100%;
  background: radial-gradient(circle, #ffb75e 30%, #ed8f03 70%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(2px 2px 4px #000000);

  transform: rotate(-10deg);
}

.pro-02-line01-m {
  font-size: 25px;
  line-height: 100%;
  color: #202a33;
  transform: rotate(20deg);
  text-shadow: 2px 2px 4px #000000;
}

.pro-02-line02-m {
  font-size: 45px;
  font-weight: bold;
  line-height: 100%;
  color: #fff;
  transform: rotate(10deg);
  text-shadow: 2px 2px 4px #000000;
}

.pro-03-line01-m {
  font-size: 12px;
  line-height: 100%;
  color: #202a33;
  /* transform: rotate(-10deg); */
  text-align: right;
  text-shadow: 2px 2px 4px #000000;
}

.pro-03-line02-m {
  font-size: 35px;
  font-weight: bold;
  line-height: 100%;
  color: #fff;
  transform: rotate(10deg);
  text-shadow: 2px 2px 4px #000000;
}

.pro-03-line03-m {
  font-size: 15px;
  /* font-weight: bold; */
  line-height: 100%;
  color: #202a33;
  text-align: left;
  text-shadow: 2px 2px 4px #000;
}

/* tablet */
.pro-out-t {
  display: flex;
  margin: 0px;
  height: 150px;
}

.pro-content-t {
  text-transform: uppercase;
  margin: auto;
}

.pro-01-line01-t {
  font-size: 25px;
  line-height: 100%;
  color: #fff;
  transform: rotate(10deg);
  text-align: left;
  text-shadow: 2px 2px 4px #000000;
}

.pro-01-line02-t {
  font-size: 60px;
  font-weight: bold;
  line-height: 100%;
  background: radial-gradient(circle, #ffb75e 30%, #ed8f03 70%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(2px 2px 4px #000000);

  transform: rotate(-20deg);
}

.pro-02-line01-t {
  font-size: 20px;
  line-height: 100%;
  color: #202a33;
  transform: rotate(20deg);
  text-shadow: 2px 2px 4px #000000;
}

.pro-02-line02-t {
  font-size: 60px;
  font-weight: bold;
  line-height: 100%;
  color: #fff;
  transform: rotate(10deg);
  text-shadow: 2px 2px 4px #000000;
}

.pro-03-line01-t {
  font-size: 20px;
  line-height: 100%;
  color: #202a33;
  /* transform: rotate(-10deg); */
  text-align: right;
  text-shadow: 2px 2px 4px #000000;
}

.pro-03-line02-t {
  font-size: 55px;
  font-weight: bold;
  line-height: 100%;
  color: #fff;
  transform: rotate(10deg);
  text-shadow: 2px 2px 4px #000000;
}

.pro-03-line03-t {
  font-size: 25px;
  /* font-weight: bold; */
  line-height: 100%;
  color: #202a33;
  text-align: left;
  text-shadow: 2px 2px 4px #000;
}

/* desktop */
.pro-out {
  display: flex;
  margin: 0px;
  height: 150px;
}

.pro-content {
  text-transform: uppercase;
  margin: auto;
}

.pro-01-line01 {
  font-size: 30px;
  line-height: 100%;
  color: #fff;
  transform: rotate(10deg);
  text-align: left;
  text-shadow: 2px 2px 4px #000000;
}

.pro-01-line02 {
  font-size: 80px;
  font-weight: bold;
  line-height: 100%;

  background: radial-gradient(circle, #ffb75e 30%, #ed8f03 70%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(2px 2px 4px #000000);

  transform: rotate(-10deg);
}

.pro-02-line01 {
  font-size: 30px;
  line-height: 100%;
  color: #202a33;
  transform: rotate(20deg);
  text-shadow: 2px 2px 4px #000000;
}

.pro-02-line02 {
  font-size: 80px;
  font-weight: bold;
  line-height: 100%;
  color: #fff;
  transform: rotate(10deg);
  text-shadow: 2px 2px 4px #000000;
}

.pro-03-line01 {
  font-size: 20px;
  line-height: 100%;
  color: #202a33;
  /* transform: rotate(-10deg); */
  text-align: right;
  text-shadow: 2px 2px 4px #000000;
}

.pro-03-line02 {
  font-size: 70px;
  font-weight: bold;
  line-height: 100%;
  color: #fff;
  transform: rotate(10deg);
  text-shadow: 2px 2px 4px #000000;
}

.pro-03-line03 {
  font-size: 30px;
  /* font-weight: bold; */
  line-height: 100%;
  color: #202a33;
  text-align: left;
  text-shadow: 2px 2px 4px #000;
}
