/* common */
.p-section-title {
  font-size: 35px;
  margin: 70px 0px 10px 0px;
  line-height: 100%;
  text-transform: capitalize;
}

.p-section-subtitle {
  text-align: justify;
  margin-bottom: 20px;
}
