/* common */
.h-section-title {
  font-size: 34px;
  font-weight: bold;
  margin-top: 1rem;
  /* color: #303030; */
  color: #00bbaa;
}

.h-section-title-high {
  font-size: 34px;
  font-weight: bold;
  margin-top: 1rem;
  /* color: #303030; */
  color: #f73858;
}

.h-section-title-revert {
  font-size: 22px;
  font-weight: bold;
  margin-top: 1rem;
  color: #c5c5c5;
  /* color: #00a895; */
}

.h-section-subtitle {
  font-size: 17px;
  text-align: justify;
}
.h-section-subtitle-item {
  margin-top: 15px;
  text-align: justify;
}

.sectionA {
  /*  */
  /* padding: 50px 0px 10px 0px; */
  /* text-align: center;
  font-size: 16px; */
  background-color: #f9f9fb;
  padding: 100px 0px 50px 0px;
  margin-bottom: 80px;
}

.sectionA-container {
  position: relative;
  text-align: center;
}

.sectionA-top-left {
  position: absolute;
  top: 8px;
  left: -5px;
  color: #f5f5f5;
  font-size: 12px;
  font-weight: bold;
  background-color: #00bbaa;
  padding: 5px 25px;
  text-transform: uppercase;
}

.sectionA-top-right {
  position: absolute;
  top: 8px;
  right: 5px;
  color: #f5f5f5;
  font-weight: bold;
  background-color: #f73858;
  padding: 5px 20px;
  text-transform: uppercase;
}

.sectionA-promo-normal {
  font-size: 12px;
}

.sectionA-promo-high {
  font-size: 34px;
}

.sectionA-image {
  width: 100%;
  height: 45vh;
  object-fit: cover;
  /* margin-top: 15px; */
}

.sectionA-title {
  /* background-color: #00bbaa;
  color: #fff; */
  text-align: center;
  font-size: 17px;
  /* padding-top: 70px; */
}

.sectionA-subtitle {
  /* color: #ff5a5f; */
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 35px;
}

.sectionA-details {
  margin: 5px 0px 20px 0px;
}

.sectionA-item {
  /* color: #f5f5f5; */
  font-size: 12px;
  font-weight: bold;
  /* background-color: #00bbaa; */
  /* padding: 5px; */
  text-transform: uppercase;
  color: #523de7;
}

.sectionA-promo {
  /* background-color: #ff5a5f;
  color: #ffffff; */
  color: #f73858;
  font-size: 30px;
  font-weight: bold;
}

.section01-outbound {
  margin-bottom: 80px;
}

.section01 {
  position: relative;
  top: 0;
  left: 5vw;
  height: 65vh;
  margin-bottom: 50px;
}
.section01-image01 {
  position: relative;
  top: 5vh;
  left: 0;
  border-radius: 10px;
  /* border: 2px solid #fff; */
  width: 15vw;
  height: 40vh;
  object-fit: cover;
}
.section01-image02 {
  position: relative;
  top: 0;
  left: 1.5vw;
  border-radius: 10px;
  /* border: 2px solid #fff; */
  width: 15vw;
  height: 40vh;
  object-fit: cover;
}
.section01-image03 {
  position: absolute;
  top: 47vh;
  left: 2vw;
  border-radius: 10px;
  /* border: 2px solid #fff; */
  width: 15vw;
  height: 20vh;
  object-fit: cover;
}
.section01-image04 {
  position: absolute;
  top: 42vh;
  left: 18.5vw;
  border-radius: 10px;
  /* border: 2px solid #fff; */
  width: 15vw;
  height: 20vh;
  object-fit: cover;
}

.section02-outbound {
  margin-bottom: 80px;
}
.section02 {
  position: relative;
  top: 0;
  right: 0vw;
  height: 65vh;
  margin-bottom: 50px;
}
.section02-image01 {
  position: relative;
  top: 0;
  left: 2vw;
  border-radius: 10px;
  /* border: 2px solid #fff; */
  width: 20vw;
  height: 27vh;
  object-fit: cover;
}
.section02-image02 {
  position: relative;
  top: 10vh;
  left: 3.5vw;
  border-radius: 10px;
  /* border: 2px solid #fff; */
  width: 20vw;
  height: 27vh;
  object-fit: cover;
}
.section02-image04 {
  position: absolute;
  top: 31vh;
  left: 5vw;
  border-radius: 10px;
  border: 2px solid #fff;
  width: 12.5vw;
  height: 15vh;
  object-fit: cover;
}

.section02-image03 {
  position: absolute;
  top: 40vh;
  left: 12.5vw;
  border-radius: 10px;
  /* border: 2px solid #fff; */
  width: 20vw;
  height: 20vh;
  object-fit: cover;
}

.section-04 {
  /* background-color: #202429; */
  background-color: #ededed;
  padding: 30px 10px 100px;
  border: 5 solid red;
}

.s04-header {
  /* border-top: 2 solid red; */
  padding: 20px 0px 15px;
  /* color: #57585b; */
  font-size: 35px;
  font-weight: bold;
}

.s04-title {
  /* color: #fbb040; */
  /* color: #ffb400; */
  /* color: #b5b5b5; */
  font-size: 20px;
  /* font-weight: 500; */
  font-weight: bold;
  /* line-height: 100%; */
  /* padding-bottom: 15px; */
  /* text-align: justify; */
}
.s04-subtitle {
  /* color: #b5b5b5; */
  text-align: justify;
}

.s04-col {
  margin: 15px 0px;
  display: inline-flex;
  /* color: #fbb040; */
  /* color: #ffb400; */
  /* color: #fff111; */
  color: #6e6e6e;
}
.s04-icon {
  display: inline-flex;
  /* margin: 0px 10px; */
  margin-right: 10px;
  font-size: 40px;
  vertical-align: top;
}
.s04-body {
  /* display: inline-flex; */
}
/* -------------------------------- */

/* mobile */
.section01-m {
  position: relative;
  top: 0;
  left: 5vw;
  height: 40vh;
  margin-bottom: 50px;
}
.section01-image01-m {
  position: relative;
  top: 5vh;
  left: 0;
  border-radius: 10px;
  /* border: 2px solid #fff; */
  width: 35vw;
  height: 25vh;
  object-fit: cover;
}
.section01-image02-m {
  position: relative;
  top: 0;
  left: 5vw;
  border-radius: 10px;
  /* border: 2px solid #fff; */
  width: 35vw;
  height: 25vh;
  object-fit: cover;
}
.section01-image03-m {
  position: absolute;
  top: 32vh;
  left: 5vw;
  border-radius: 10px;
  /* border: 2px solid #fff; */
  width: 35vw;
  height: 10vh;
  object-fit: cover;
}
.section01-image04-m {
  position: absolute;
  top: 27vh;
  left: 45vw;
  border-radius: 10px;
  /* border: 2px solid #fff; */
  width: 35vw;
  height: 10vh;
  object-fit: cover;
}

.section02-m {
  position: relative;
  top: 0;
  right: 0vw;
  height: 30vh;
  margin-bottom: 50px;
}

.section02-image01-m {
  position: relative;
  top: 0;
  left: 2vw;
  border-radius: 10px;
  /* border: 2px solid #fff; */
  width: 40vw;
  height: 12.5vh;
  object-fit: cover;
}

.section02-image02-m {
  position: relative;
  top: 5vh;
  left: 5vw;
  border-radius: 10px;
  /* border: 2px solid #fff; */
  width: 40vw;
  height: 12.5vh;
  object-fit: cover;
}

.section02-image04-m {
  position: absolute;
  top: 16vh;
  left: 12vw;
  border-radius: 10px;
  border: 2px solid #fff;
  width: 22vw;
  height: 7vh;
  object-fit: cover;
}

.section02-image03-m {
  position: absolute;
  top: 19vh;
  left: 25vw;
  border-radius: 10px;
  /* border: 2px solid #fff; */
  width: 37.5vw;
  height: 10vh;
  object-fit: cover;
}
