/* common */
.h-section-title {
  font-size: 30px;
  font-weight: bold;
  margin-top: 2rem;
  /* color: #303030; */
  color: #00bbaa;
}

.h-section-title-high {
  font-size: 34px;
  font-weight: bold;
  margin-top: 1rem;
  /* color: #303030; */
  color: #f73858;
}

.h-section-title-revert {
  font-size: 22px;
  font-weight: bold;
  margin-top: 1rem;
  color: #c5c5c5;
  /* color: #00a895; */
}

.h-section-subtitle {
  font-size: 17px;
  text-align: justify;
}
.h-section-subtitle-item {
  margin-top: 15px;
  text-align: justify;
}

.section-center {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  margin: auto;
}

/* -------------------------------- */
/* tablet */
.sectionA-image-t {
  width: 100%;
  height: 50vw;
  object-fit: cover;
}

.sectionA-image-t:hover {
  border: 1px solid rgba(0, 0, 0, 0.8);

  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
}

/* -------------------------------- */

/* mobile */
.sectionA-image-m {
  width: 100%;
  height: 80vw;
  object-fit: cover;
}

.sectionA-image-m:hover {
  border: 1px solid rgba(0, 0, 0, 0.8);

  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
}

.sectionA-title-m {
  /* background-color: #00bbaa;
  color: #fff; */
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 10px;
}

.sectionA-subtitle-m {
  /* color: #ff5a5f; */
  font-size: 15px;
  text-align: center;
  padding-bottom: 35px;
}

.section01-m {
  position: relative;
  top: 0px;
  left: 0px;
  height: 95vw;
  width: 80vw;
  margin-bottom: 50px;
}
.section01-image01-m {
  position: relative;
  top: 5vw;
  left: 0px;
  border-radius: 10px;
  /* border: 2px solid #fff; */
  width: 35vw;
  height: 60vw;
  object-fit: cover;
}
.section01-image02-m {
  position: relative;
  top: 0;
  left: 5vw;
  border-radius: 10px;
  /* border: 2px solid #fff; */
  width: 35vw;
  height: 60vw;
  object-fit: cover;
}
.section01-image03-m {
  position: absolute;
  top: 70vw;
  left: 5vw;
  border-radius: 10px;
  /* border: 2px solid #fff; */
  width: 35vw;
  height: 25vw;
  object-fit: cover;
}
.section01-image04-m {
  position: absolute;
  top: 65vw;
  left: 45vw;
  border-radius: 10px;
  /* border: 2px solid #fff; */
  width: 35vw;
  height: 25vw;
  object-fit: cover;
}

.section02-m {
  position: relative;
  top: 0px;
  right: 0px;
  height: 60vw;
  width: 85vw;
  margin-bottom: 50px;
}
.section02-image01-m {
  position: relative;
  top: 0;
  left: 0;
  border-radius: 10px;
  /* border: 2px solid #fff; */
  width: 40vw;
  height: 25vw;
  object-fit: cover;
}
.section02-image02-m {
  position: relative;
  top: 5vw;
  left: 5vw;
  border-radius: 10px;
  /* border: 2px solid #fff; */
  width: 40vw;
  height: 25vw;
  object-fit: cover;
}
.section02-image04-m {
  position: absolute;
  top: 30vw;
  left: 12vw;
  border-radius: 10px;
  border: 2px solid #fff;
  width: 25vw;
  height: 15vw;
  object-fit: cover;
}
.section02-image03-m {
  position: absolute;
  top: 35vw;
  left: 25vw;
  border-radius: 10px;
  /* border: 2px solid #fff; */
  width: 40vw;
  height: 25vw;
  object-fit: cover;
}
